# Лабораторная работа №1
## Выполнил студент группы БВТ1902 Власов Глеб

In [1]:
import random
import pandas as pd
import statistics
import numpy as np
import queue as pq
import heapq

### Задание 2
### Генератор матриц

In [2]:
# Предобработка:
def gen_matrix(m=50, n=50, min_limit=-250, max_limit=1000):
    matrix = pd.DataFrame([[random.randint(min_limit, max_limit) for j in range(n)] for i in range(m)])
    
    return matrix

In [3]:
# Формирование матрицы
test = gen_matrix(10, 10)
test

     0    1    2    3    4    5    6     7    8    9
0 -122  734 -196  784  -41  909  -35   985  422   64
1  204 -184  752 -128  950  537  932   234  865  929
2 -246  124   97  884  359  714  774   555  777  445
3  770  155  162  -94 -170  879  -80    45  489  219
4  383  854  839  334  269  818    2   699 -198  996
5  197 -240  477  198  737  557 -156   742  -61  611
6 -134  299  893  835  343   19  497  1000  335   35
7  376  752  867  -27  197  802  254    59  637  144
8  611  925 -168 -203  504  606  982   697  794  493
9  698  557  768  923  314  341  332   199  112  532

### Задание 3

### Сортировка строк матриц

In [4]:
# Предобработка

## QUICKSORT
def quick_sorted(matrix_str):
    if len(matrix_str) <= 1:
        return matrix_str
    else:
        med = statistics.median(matrix_str)
        lower_nums = [j for j in matrix_str if j < med]
        equal_nums = [j for j in matrix_str if j == med]
        bigger_nums = [j for j in matrix_str if j > med]
        
    return quick_sorted(lower_nums) + equal_nums + quick_sorted(bigger_nums)


def quick_sort(matrix):
    for it in range(len(matrix)):
        matrix.iloc[it] = quick_sorted(matrix.iloc[it])
        
    return matrix


## BUBBLESORT
def bubble_sorted(matrix_str):
    length = len(matrix_str)
    
    for it in range(length):
        changes = False
        for j in range(0, length-it-1):
            if matrix_str[j] > matrix_str[j+1]:
                matrix_str[j], matrix_str[j+1] = matrix_str[j+1], matrix_str[j]
                changes = True
                
        if changes == False:
            return matrix_str
            
            
def bubble_sort(matrix):
    for it in range(len(matrix)):
        matrix.iloc[it] = bubble_sorted(matrix.iloc[it])
        
    return matrix
        
        
## SELECTIONSORT
def selection_sorted(matrix_str):
    length = len(matrix_str)
    
    for it in range(length):
        index = it
        for j in range(it+1, length):
            if matrix_str[j] < matrix_str[index]:
                index = j
        matrix_str[it], matrix_str[index] = matrix_str[index], matrix_str[it]
    return matrix_str
            

def selection_sort(matrix):
    for it in range(len(matrix)):
            matrix.iloc[it] = selection_sorted(matrix.iloc[it])   
            
    return matrix
    

## INSERTIONSORT
def insertion_sorted(matrix_str):
    matrix_str = list(matrix_str)
    
    for it, n in enumerate(matrix_str):
        ins_pos = 0
        for j, m in reversed([num for num in enumerate(matrix_str[:it])]):
            if m < n:
                ins_pos = j + 1
                break
        matrix_str.insert(ins_pos, matrix_str.pop(it))
                
    return matrix_str


def insertion_sort(matrix):
    for it in range(len(matrix)):
            matrix.iloc[it] = insertion_sorted(matrix.iloc[it])  
            
    return matrix


## SHELLSORT #non optimized version???
def shell_sorted(matrix_str):
    length = len(matrix_str)
    gap = length 
    
    while gap > 0:
        for it in range(gap, length):
            buff = matrix_str[it]
            j = it
            while j >= gap and matrix_str[j-gap] > buff:
                matrix_str[j] = matrix_str[j-gap]
                j -= gap
            matrix_str[j] = buff
        gap //= 2
    
    return matrix_str


def shell_sort(matrix):
    for it in range(len(matrix)):
            matrix.iloc[it] = shell_sorted(matrix.iloc[it])  
            
    return matrix

## HEAPSORT
def heapify(matrix_str):
    for it in reversed(range(1, len(matrix_str))):
        parent = (it - 1)//2
        if matrix_str[parent] > matrix_str[it]:
            matrix_str[parent], matrix_str[it] = matrix_str[it], matrix_str[parent]
            
            
def heap_sorted(it):
    result = []
    matrix_str = list(it)
    
    while matrix_str:
        heapify(matrix_str)
        result.append(matrix_str.pop(0))
        
    return result


def heap_sort(matrix):
    for it in range(len(matrix)):
        matrix.iloc[it] = heap_sorted(matrix.iloc[it])
        
    return matrix

In [5]:
# Делаю копии матриц для проверки
test_sort_quick = test.copy()
test_sort_bubble = test.copy()
test_sort_selection = test.copy()
test_sort_insertion = test.copy()
test_sort_shell = test.copy()
test_sort_tournament = test.copy()
test_sort_heap = test.copy()

In [6]:
%%time 
quick_sort(test_sort_quick)
test_sort_quick

Wall time: 3 ms

     0    1    2    3    4    5    6    7    8     9
0 -196 -122  -41  -35   64  422  734  784  909   985
1 -184 -128  204  234  537  752  865  929  932   950
2 -246   97  124  359  445  555  714  774  777   884
3 -170  -94  -80   45  155  162  219  489  770   879
4 -198    2  269  334  383  699  818  839  854   996
5 -240 -156  -61  197  198  477  557  611  737   742
6 -134   19   35  299  335  343  497  835  893  1000
7  -27   59  144  197  254  376  637  752  802   867
8 -203 -168  493  504  606  611  697  794  925   982
9  112  199  314  332  341  532  557  698  768   923

In [7]:
%%time 
bubble_sort(test_sort_bubble)
test_sort_bubble

Wall time: 32.9 ms

     0    1    2    3    4    5    6    7    8     9
0 -196 -122  -41  -35   64  422  734  784  909   985
1 -184 -128  204  234  537  752  865  929  932   950
2 -246   97  124  359  445  555  714  774  777   884
3 -170  -94  -80   45  155  162  219  489  770   879
4 -198    2  269  334  383  699  818  839  854   996
5 -240 -156  -61  197  198  477  557  611  737   742
6 -134   19   35  299  335  343  497  835  893  1000
7  -27   59  144  197  254  376  637  752  802   867
8 -203 -168  493  504  606  611  697  794  925   982
9  112  199  314  332  341  532  557  698  768   923

In [8]:
%%time 
selection_sort(test_sort_selection)
test_sort_selection
# arr = [3,1,2,5]
# selection_sorted(arr)
# arr

Wall time: 14 ms

     0    1    2    3    4    5    6    7    8     9
0 -196 -122  -41  -35   64  422  734  784  909   985
1 -184 -128  204  234  537  752  865  929  932   950
2 -246   97  124  359  445  555  714  774  777   884
3 -170  -94  -80   45  155  162  219  489  770   879
4 -198    2  269  334  383  699  818  839  854   996
5 -240 -156  -61  197  198  477  557  611  737   742
6 -134   19   35  299  335  343  497  835  893  1000
7  -27   59  144  197  254  376  637  752  802   867
8 -203 -168  493  504  606  611  697  794  925   982
9  112  199  314  332  341  532  557  698  768   923

In [9]:
%%time 
insertion_sort(test_sort_insertion)
test_sort_insertion

Wall time: 3 ms

     0    1    2    3    4    5    6    7    8     9
0 -196 -122  -41  -35   64  422  734  784  909   985
1 -184 -128  204  234  537  752  865  929  932   950
2 -246   97  124  359  445  555  714  774  777   884
3 -170  -94  -80   45  155  162  219  489  770   879
4 -198    2  269  334  383  699  818  839  854   996
5 -240 -156  -61  197  198  477  557  611  737   742
6 -134   19   35  299  335  343  497  835  893  1000
7  -27   59  144  197  254  376  637  752  802   867
8 -203 -168  493  504  606  611  697  794  925   982
9  112  199  314  332  341  532  557  698  768   923

In [10]:
%%time 
shell_sort(test_sort_shell)
test_sort_shell
# arr = [3,1,2,5]

Wall time: 10.9 ms

     0    1    2    3    4    5    6    7    8     9
0 -196 -122  -41  -35   64  422  734  784  909   985
1 -184 -128  204  234  537  752  865  929  932   950
2 -246   97  124  359  445  555  714  774  777   884
3 -170  -94  -80   45  155  162  219  489  770   879
4 -198    2  269  334  383  699  818  839  854   996
5 -240 -156  -61  197  198  477  557  611  737   742
6 -134   19   35  299  335  343  497  835  893  1000
7  -27   59  144  197  254  376  637  752  802   867
8 -203 -168  493  504  606  611  697  794  925   982
9  112  199  314  332  341  532  557  698  768   923

In [11]:
%%time 
heap_sort(test_sort_heap)
test_sort_heap

Wall time: 2.99 ms

     0    1    2    3    4    5    6    7    8     9
0 -196 -122  -41  -35   64  422  734  784  909   985
1 -184 -128  204  234  537  752  865  929  932   950
2 -246   97  124  359  445  555  714  774  777   884
3 -170  -94  -80   45  155  162  219  489  770   879
4 -198    2  269  334  383  699  818  839  854   996
5 -240 -156  -61  197  198  477  557  611  737   742
6 -134   19   35  299  335  343  497  835  893  1000
7  -27   59  144  197  254  376  637  752  802   867
8 -203 -168  493  504  606  611  697  794  925   982
9  112  199  314  332  341  532  557  698  768   923

# ЗАДАЧИ

## Задача 1. «Треугольник с максимальным периметром»

In [12]:
def triangle(arr):
    maxP = 0
    length = len(arr)
    arr = list(reversed(heap_sorted(arr)))
    
    for i in range(0, length-2):
        if arr[i] < (arr[i + 1] + arr[i + 2]):
            maxP = max(maxP, arr[i] + arr[i + 1] + arr[i + 2])
            break
    
# Тестовый вариант без отсортированного массива p.s. ну а вдруг
    
#     for i in range(length-2):
#         for j in range(i + 1, length - 1):
#             for k in range(j + 1, length):
#                 a, b, c = arr[i], arr[j], arr[k]
#                 if(a < b + c and b < a + c and c < a + b):
#                     maxP = max(maxP, a + b + c)
    
    
    return maxP

In [13]:
arr = [3,2,3,4]
print(triangle(arr))

10

## Задача 2. «Максимальное число»

In [14]:
def max_value(arr):
    empty, vals = [], ""
    length = len(str(max(arr))) + 1
    
    for i in arr:
        buff = str(i) * length
        empty.append((buff[:], i))
        
    empty = list(reversed(heap_sorted(empty)))
    
    for i in empty:
        vals += str(i[1])
        
    if int(vals) == 0:
        return "0"
    
    return vals

In [15]:
arr = [3,30,34,5,9]
max_value(arr)

'9534330'

## Задача 3. «Сортировка диагоналей в матрице»

In [16]:
 def diag_sort(matrix):
        y, x = len(matrix), len(matrix[0])
        for i in range(2-y, x-1):
            valid = range(max(0, 0-i), min(y, x-i))
            diag, k = heap_sorted([matrix[j][i+j] for j in valid]), 0
            for j in valid:
                matrix[j][i+j], k = diag[k], k + 1
        return matrix

In [17]:
mat = [[11, 25, 66, 1, 69, 7], [23, 55, 17, 45, 15, 52], [75, 31, 36,
44, 58, 8], [22, 27, 33, 25, 68, 4], [84, 28, 14, 11, 5, 50]]
diag_sort(mat)

[[5, 17, 4, 1, 52, 7],
 [11, 11, 25, 45, 8, 69],
 [14, 23, 25, 44, 58, 15],
 [22, 27, 31, 36, 50, 66],
 [84, 28, 75, 33, 55, 68]]